<header>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </header>
  <app-nav-bar></app-nav-bar>
<br>
<br>
<br>
  <body>

  

    <div class="wrapper wrapper--w790">
      <div class="card card-5">
          <div class="card-heading">
              <h2 class="title">Guardar Familia</h2>
          </div>
          <div class="card-body">
                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                              <div class="form-row">
                                      <div class="name">Apellidos</div>
                                      <div class="value">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" formControlName="surnames"  [ngClass]="{ 'is-invalid': submitted && f.surnames.errors }">
                                              <div *ngIf="submitted && f.surnames.errors" class="text-danger">
                                                      <div *ngIf="f.surnames.errors.required">El Apellido es requerido</div>
                                                  </div>
                                          </div>
                                      </div>
                                  </div>                       
                      </div>
                     
                     
                      <div class="form-group">
                          <button class="btn btn--radius-2 btn--red">Registrar Familia</button>
       
                      </div>
              
                  </form>
              </div>
          </div>
      </div>
   <br>
   <br><br>
   <div class="wrapper wrapper--w790">
    <div class="card card-5">
        <div class="card-heading2">
            <h2 class="title"> Familia Registrada</h2>
        </div>
        <div class="card-body">
   <table class="table" >
    <thead>
      <tr>
        <th>APELLIDOS FAMILIA</th>


      </tr>
    </thead>
    <tbody>
     
        <tr  *ngFor=" let families of familias" >
          <td>{{families.Surnames}} </td>
          
         </tr>
      
    </tbody>
  </table> 
  </div>
  </div>
   </div>
  <br>
  <br>
  <br>

      
       <br>
       <br>
       <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading3">
                <h2 class="title">Buscar Persona</h2>
            </div>
            <div class="card-body">
                    <form #formularioRegistro="ngForm" (ngSubmit)="buscar()">
                       
                                <div class="form-row">
                                        <div class="name">Buscar</div>
                                        <div class="value">
                                            <div class="input-group-desc">
                                                <input class="input--style-5" [(ngModel)]="search" name="search">
                                         
                                            </div>
                                        </div>
                                    </div>   
                                    
                      
                            <button class="btn btn--radius-2 btn--green">Buscar</button>
         
         
                
                          </form>                    
                        </div>
                       
                </div>
            </div>
        <br>
        <br>

            
        <form [formGroup]="registerForm1" (ngSubmit)="actualizar()">
            <div class="form-group">

          <table  id="hola" class="display" class="table table-striped" class="table table-bordered">
          <thead>
            <tr>
              <th>NOMBRE PERSONA</th>
              <th hidden>APELLIDOghS</th>
              <th hidden>APELLIDOghS</th>
              <th>APELLIDOS</th>
              <th>EMAIL</th>
              <th>CELULAR</th>
              <th >SELECCIONAR ROL</th>
              
    
            </tr>
          </thead>
          <tbody>
           
              <tr  *ngFor=" let person of results" >
                <td>  {{person.Name}} {{person.Lastname}} </td>
                <td hidden> <input type="text" class="form-control" name="persona"  formControlName="personaId"  value={{person._id}} > {{person.Name}} {{person.Lastname}} </td>
                <td hidden *ngFor=" let families of familias" > <input type="text" class="form-control" name="id"  formControlName="id"  value={{families._id}} ></td>
                <td>{{person.Surname}} {{person.SecondSurname}}</td>
                <td>{{person.Email}}</td>
                <td>{{person.Phones.Cellphone}}</td>
                <td><Select name="seleccionar" formCotrolName="seleccionar" ><option value="PADRE">PADRE</option> <option value="MADRE">MADRE</option>  <option value="HIJO">HIJO</option> <option value="ENCARGADO">ENCARGADO</option> </Select></td>
            

              </tr>
            
          </tbody>
        </table> 
        </div>
    
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Guardar Familia</button>
       
  
  </form>
  
  
  
    
    <br>
    <br>
  </body>
    
  
      
  
  
  
  
  
  
  