<body>
<header class="page-header">
  <input id="menu-toggle-input" type="checkbox"/>
  <label class="menu-toggle" for="menu-toggle-input">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </label>
  <nav class="menu">
    <ol>
      <li class="menu-item"><a href="/person">Persona</a></li>
      <li class="menu-item"><a href="/families">Familia</a></li>
      <li class="menu-item"><a href="/units">Unidades Academicas</a></li>
      <li class="menu-item"><a href="/career">Carreras Educacionales</a></li>
      <li class="menu-item"><a href="/course">Cursos</a></li>
    </ol>
  </nav>
</header>

<section class="page-content">
  <h1 class="page-title">Sistema Kinal</h1>
  <p>Para administrar a las personas de kinal :)</p>
</section>
</body>