<!DOCTYPE html>
<html>
<html lang="en">
<header>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   

    </header>

    
        <app-nav-bar></app-nav-bar>
<br>
<br>
<br>
  <body>
    
  

  <br>
  <br>
  
      <div >
          <div class="wrapper wrapper--w790">
              <div class="card card-5">
                  <div class="card-heading">
                      <h2 class="title">Registrar Persona</h2>
                  </div>
                  <div class="card-body">
                      <form #formularioRegistro="ngForm" (ngSubmit)="onSubmit(formularioRegistro)">
                          <div class="form-row m-b-55">
                              <div class="name">Nombres</div>
                              <div class="value">
                                  <div class="row row-space">
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" type="text" style="text-transform: uppercase" required [(ngModel)]="person.name" required name="name" >
                                              <label class="label--desc">Primer Nombre<strong> (*)</strong></label>
                                          </div>
                                      </div>
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" type="text" style="text-transform: uppercase" [(ngModel)]="person.lastname" name="lastname">
                                              <label class="label--desc">Segundo Nombre</label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-row m-b-55">
                              <div class="name">Apellidos</div>
                              <div class="value">
                                  <div class="row row-space">
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" type="text" style="text-transform: uppercase" required [(ngModel)]="person.surname" required name="surname" >
                                              <label class="label--desc">Primer Apellido<strong> (*)</strong></label>
                                          </div>
                                      </div>
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" type="text" style="text-transform: uppercase" [(ngModel)]="person.secondsurname" name="secondsurname">
                                              <label class="label--desc">Segundo Apellido</label>
                                              
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-row">
                              <div class="name">Fecha de Nacimiento</div>
                              <div class="value">
                                  <div class="input-group">
                                      <input class="input--style-5" type="date"[(ngModel)]="person.birth" required name="birth">
                                      <label class="label--desc">Fecha de Nacimiento<strong> (*)</strong></label>
                                      <br>
                                  </div>
                              </div>
                          </div>
                          <br>

                          <div class="form-row">
                              <div class="name">Religión</div>
                              <div class="value">
                                  <div class="input-group-desc">
                                    <select class="input--style-5" name="status" [(ngModel)]="person.religion">
                                        <option disabled="disabled" selected="selected">Elige la religión que profesas (si la tienes):</option>
                                        <option value="CATÓLICO(A)">Católico(a)</option>
                                        <option value="EVANGÉLICO(A)">Evangélico(a)</option>
                                        <option value="BUDISTA">Budista</option>
                                        <option value="ISLAM">Islam</option>
                                        <option value="HINDÚ">Hindú</option>
                                        <option value="NEOPAGANISTA">Neopaganista</option>
                                        <option value="JUDÍO">Judío</option>
                                        <option value="EBREO">Ebreo</option>
                                        <option value="CAODAÍSMO">Caodista</option>
                                        <option value="RELIGIÓN TRADICIONAL CHINA">Religión tradicional china</option>
                                        <option value="JAINISTA">Janista</option>
                                        <option value="ZOROASTRIÍSTA">Zoroastriísta</option>
                                        <option value="SIJIÍSTA">Sijiísta</option>
                                        <option value="GNÓSTICO">Gnóstico(a)</option>
                                        <option value="AGNÓSTICO">Anóstico(a)</option>
                                        <option value="ATEO">Ateo(a)</option>
                                        <option value="OTRO">Otro</option>
                                    </select>
                                    <label class="label--desc">Religión</label>
                                    <br>
                                  </div>
                              </div>
                          </div>
                          <br>
                       
                          <div class="form-row">
                              <div class="name">E-mail</div>
                              <div class="value">
                                  <div class="row row-space">
                                      <div class="col-2">
                                  <div class="input-group-desc">
                                      <input class="input--style-5" type="email" [(ngModel)]="person.email" name="email"  [ngModelOptions]="{standalone:true}"  > 
                                      <label class="label--desc">E-mail</label>
                                      <br>
                                  </div>
                                  <br>
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btnbtn--red"   (click)="addEmail()">+</button>
                                      </div>
                              </div>
                          </div>
                          </div>
                        
                        
                          <div class="form-row m-b-55">
                              <div class="name">Género y<br> Estado Civil</div>
                              <div class="value">
                                  <div class="row row-space">
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                              <div class="rs-select2 js-select-simple select--no-search">
                                                  <select class="input--style-5" name="gender" [(ngModel)]="person.gender">
                                                      <option disabled="disabled"  selected="selected">Elige un Género:</option>
                                                      <option value="MASCULINO" >Masculino</option>
                                                      <option value="FEMENINO" >Femenino</option>
                                                     
                                                  </select>
                                                  <div class="select-dropdown"></div>
                                              <label class="label--desc">Género<strong> (*)</strong></label>
                                          </div>
                                      </div>
                                    </div>
                                    
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                              <select class="input--style-5" name="status" [(ngModel)]="person.status">
                                                  <option disabled="disabled"  selected="selected">Elige un estado civil:</option>
                                                  <option value="SOLTERO(A)" >Soltero(a)</option>
                                                  <option value="CASADO(A)" >Casado(a)</option>
                                              </select>
                                              <label class="label--desc">Estado Civil<strong> (*)</strong></label>
                                          </div>
                                      </div>
                                  
                              </div>
                          </div>
                          </div>
                          <div  class="form-row" *ngIf = "person.gender == 'Femenino' && person.status == 'Casado(a)'">
                              <div class="name" >Apellido Casada</div>
                              <div class="value"  >
                                  <div class="input-group"  >
                                     
                                      <input  type="text" class="input--style-5"  [(ngModel)]="person.marriedsurname" style="text-transform: uppercase"  name="marriedsurname">
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-row m-b-55">
                              <div class="name">Dirección</div>
                              <div class="value">
                                  <div class="row row-space">
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                                <select class="input--style-5" heigth="2px" name="status" [(ngModel)]="person.department">
                                                    <option disabled="disabled" selected="selected">Elige un departamento:</option>
                                                    <option value="ALTA VERAPAZ">Alta Verapaz</option>
                                                    <option value="BAJA VERAPAZ">Baja Verapaz</option>
                                                    <option value="CHIMALTENANGO">Chimaltenango</option>
                                                    <option value="PETÉN">Petén</option>
                                                    <option value="EL PROGRESO">El Progreso</option>
                                                    <option value="QUICHÉ">Quiché</option>
                                                    <option value="ESCUINTLA">Escuintla</option>
                                                    <option value="GUATEMALA">Guatemala</option>
                                                    <option value="IZABAL">Izabal</option>
                                                    <option value="JALAPA">Jalapa</option>
                                                    <option value="JUTIAPA">Jutiapa</option>
                                                    <option value="QUETZALTENANGO">Quetzaltenango</option>
                                                    <option value="RETALHULEU">Retalhuleu</option>
                                                    <option value="SACATEPÉQUEZ">Sacatepéquez</option>
                                                    <option value="SAN MARCOS">San Marcos</option>
                                                    <option value="SANTA ROSA">Santa Rosa</option>
                                                    <option value="SOLOLÁ">Sololá</option>
                                                    <option value="SUCHITEPÉQUEZ">Suchitepéquez</option>
                                                    <option value="TOTONICAPÁN">Totonicapán</option>
                                                    <option value="ZACAPA">Zacapa</option>
                                                </select>
                                              <label class="label--desc">Departamento</label>
                                          </div>
                                      </div>
                                      
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" type="text" [(ngModel)]="person.municipality" name="municipality">
                                              <label class="label--desc">Municipalidad</label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="form-row m-b-55">
                              <div class="name"></div>
                              <div class="value">
                                  <div class="row row-space">
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                                <select class="input--style-5" name="status" [(ngModel)]="person.zone">
                                                        <option disabled="disabled"  selected="selected">Elige una Zona:</option>
                                                        <option value="ZONA 01" >Zona 01</option>
                                                        <option value="ZONA 02" >Zona 02</option>
                                                        <option value="ZONA 03" >Zona 03</option>
                                                        <option value="ZONA 04" >Zona 04</option>
                                                        <option value="ZONA 05" >Zona 05</option>
                                                        <option value="ZONA 06" >Zona 06</option>
                                                        <option value="ZONA 07" >Zona 07</option>
                                                        <option value="ZONA 08" >Zona 08</option>
                                                        <option value="ZONA 09" >Zona 09</option>
                                                        <option value="ZONA 10" >Zona 10</option>
                                                        <option value="ZONA 11" >Zona 11</option>
                                                        <option value="ZONA 12" >Zona 12</option>
                                                        <option value="ZONA 13" >Zona 13</option>
                                                        <option value="ZONA 14" >Zona 14</option>
                                                        <option value="ZONA 15" >Zona 15</option>
                                                        <option value="ZONA 16" >Zona 16</option>
                                                        <option value="ZONA 17" >Zona 17</option>
                                                        <option value="ZONA 18" >Zona 18</option>
                                                        <option value="ZONA 19" >Zona 19</option>
                                                        <option value="ZONA 20" >Zona 20</option>
                                                        <option value="ZONA 21" >Zona 21</option>
                                                        <option value="ZONA 22" >Zona 22</option>
                                                        <option value="ZONA 23" >Zona 23</option>
                                                    </select>
                                              <label class="label--desc">Zona</label>
                                          </div>
                                      </div>
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" type="text" [(ngModel)]="person.residential" name="residential">
                                              <label class="label--desc">Residencial</label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="form-row m-b-55">
                              <div class="name"></div>
                              <div class="value">
                                  <div class="row row-space">
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" type="text"   [(ngModel)]="person.avenue" required name="avenue" >
                                              <label class="label--desc">Avenida</label>
                                          </div>
                                      </div>
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" type="number" [(ngModel)]="person.street" name="street">
                                              <label class="label--desc">Calle</label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="form-row m-b-55">
                              <div class="name"></div>
                              <div class="value">
                                  <div class="row row-space">
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" type="text"   [(ngModel)]="person.sector" required name="sector" >
                                              <label class="label--desc">Sector</label>
                                          </div>
                                      </div>
                                      <div class="col-2">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" type="number" [(ngModel)]="person.number" name="number">
                                              <label class="label--desc">Número de Residencia</label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-row m-b-55">
                            <div class="name"></div>
                            <div class="value">
                                
                                
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text"   [(ngModel)]="person.addressComplete" required name="addressComplete" >
                                            <label class="label--desc">Otros</label>
                                        </div>
                                    </div>
                                </div>
                        

                          <div class="form-row m-b-55">
                              <div class="name">Teléfonos</div>
                              <div class="value">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="number" [(ngModel)]="person.house" name="house">
                                    <label class="label--desc">Número de Casa</label>
                                </div>
                              </div>
                          </div>

                          <div class="form-row m-b-55">
                              <div class="name"></div>
                              <div class="value">
                                  <div class="row row-refine">
                                      <div class="col-3">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" type="number" [(ngModel)]="codigo" name="codigo">
                                              <label class="label--desc">Código</label>
                                          </div>
                                      </div>
                                      <div class="col-9">
                                          <div class="input-group-desc">
                                              <input class="input--style-5" type="tel" maxlength="8" [(ngModel)]="person.cellphone" name="cellphone">
                                              <label class="label--desc">Número de Celular</label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="form-row">
                                <div class="name">Otro(s)</div>
                                <div class="value">
                                    <div class="row row-space">
                                        <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="email" [(ngModel)]="person.other" name="other"  [ngModelOptions]="{standalone:true}"  > 
                                        <label class="label--desc">Otro número telefónico</label>
                                        <br>
                                    </div>
                                    <br>
                                      </div>
                                      <div class="col-2">
                                          <button type="button" class="btnbtn--red"   (click)="addEmail()">+</button>
                                        </div>
                                </div>
                            </div>
                            </div>

                          <div>
                              <button class="btn btn--radius-2 btn--red" type="submit">Enviar Formulario</button>
                          </div>
                      </form>
                      <strong> (*)</strong> Parámetros obligatorios
                  </div>
                  
              </div>
          </div>

      </div>

  </body>

 
  
   
    <footer>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://www.kinal.org.gt/"> Kinal</a>
          </div>     
  </footer>
  
</html>       
  
  
  
  
 

  
  

